<StackLayout style="height: 100%;width: 100%;" orientation="vertical" verticalAlignment="center"
    horizontalAlignment="center">
    <StackLayout orientation="vertical" verticalAlignment="center" horizontalAlignment="center">
        <Image class="workflowStartImg" src="~/images/testausweis.png" stretch="aspectFit">
        </Image>
        <Label textWrap="true" class="workflowStartText" text="This app requires an eID-Card for the test infrastructure or the usage of PersoSim"></Label>
    </StackLayout>
</StackLayout>